.survey-creation-page-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 64rem;
}

.survey-creation-page-title-container {
    display: flex;
    justify-content: center;
}