body {
    margin: 10px auto;
    max-width: 800px;
    background-color: aqua;
}

.daniel {
    background-color: #fff;
    height: 200px;
    width: 200px;
}

.cg {
    background-color: black;
    color: pink;
    height: 100px;
    width: 100px;
}

.uri {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
}