body {
    margin: 10px auto;
    max-width: 800px;
    background-color: aqua;
}

.daniel {
    background-color: #fff;
    height: 200px;
    width: 200px;
}

.cg {
    background-color: black;
    color: pink;
    height: 100px;
    width: 100px;
}

.uri {
    background-color: palevioletred;
    height: 50px;
    width: 50px;
}

.answers-div {
    margin-top: 20px;
    font-family: "Times New Roman", Times, serif;
    color: red;
    font-weight: bold;
}

.question-div {
    background-color: white;
    margin-bottom: 50px;
    width: 80%;
    height: 150px;  
    border-radius: 25px;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
}