body {
    margin: 10px auto;
    max-width: 800px;
    background-color: aqua;
}

.answers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: plum;
}

.question-div {
    background-color: white;
    margin-bottom: 50px;
    width: 85%;
    height: 250px;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.survey-answer-type_long_answer {
    background-color: bisque;
    width: 20rem;
    height: 6rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.survey-answer-type_short_answer {
    background-color: bisque;
    width: 15rem;
    height: 4rem;
    overflow: scroll;
}

.survey-answer-type_select_answer {
    width: 9rem;
}