.survey-title-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
  box-shadow: 1px 2px 4px 1px rgb(131, 131, 131);
  padding: 2px;
  text-align: right;
  padding-right: 3rem;
  padding-top: 1rem;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 87%,
    #7cbddb 20%
  ); /* Standard syntax (must be last) */
}

.survey-title-text-input_survey_name {
  width: 43rem;
  height: 3.5rem;
  margin-top: 3rem;
  background-color: white;
  font-size: 3rem;
  text-align: right;
  margin-bottom: 1rem;
  border: 0;
  outline: 0;
  background: transparent;
}

.survey-title-text-input_survey_description {
  width: 57rem;
  height: 2.5rem;
  background-color: white;
  font-size: 1.1rem;
  text-align: right;
  margin-left: 1.4rem;
  margin-bottom: 2rem;
  text-justify: distribute;
  border: 0;
  outline: 0;
  background: transparent;
}


.survey-title-text-input_survey_description:focus, .survey-title-text-input_survey_name:focus{
  border-bottom: 2px solid #568ea8;
}